<h2>プロジェクト情報</h2>
<p>
  <strong>タイトル:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @project.content %>
</p>

<p>
  <strong>オーナー:</strong>
  <%= @project.user.name %>
</p>

<h2>プロジェクトメンバー</h2>
<%= render "project_members/index", project_members: @project_members %>

<p>プロジェクトメンバー一覧が見れる、追加できる、削除できる</p>

<br>
<%= link_to '新しくプロジェクトメンバーを追加する', new_project_member_path %>




<h2>タスク情報</h2>
<%= render "projects/tasks/index", tasks: @project.tasks %>

<%= link_to '新しいタスクを追加する', new_project_task_path(@project) %>
<br />



<%= link_to '編集', edit_project_path(@project) %> |
<%= link_to '戻る', projects_path %>
