<%= form_for([@project,@project_member],:url => project_project_members_path) do |f| %>
  <% if @project_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_member.errors.count, "error") %> prohibited this project_member from being saved:</h2>
      <ul>
      <% @project_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :project_id,  value: params[:project_id] %> 
  </div>
  <div class="field">
    <%= f.label :メンバー名 %><br>
    <%= f.collection_select :user_id, User.all, :id, :name, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
