<!DOCTYPE html>
<html lang="ja" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
<meta charset="UTF-8">
<head>
  <title>Dive into Code</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == "notice" ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
    <%= msg %>
  </div>
<% end %>
<%= yield %>
<div class="box5"> 
  <div class="copyright"> 
    <p>Copyright &copy; 2015 Dive into Code All Rights Reserved.</p> 
  </div>
</div>
</body>
</html>
